@charset "utf-8";
/*
________________________________________________________________
project : off_the_outfit website for last team sparta

Edited by gicheol. ( hanmari.code@gmail.com )
[ Last Edited 2022-12-08 ]
________________________________________________________________

= table of Css

1. index.html

= color code

1. main color : 
2. based color :
3. light gray :
4. point color :

= font

1. 
2. 
3. 
4. 

*/

/* _______________________________________________________________  */
/* 0. Public use */
/* _______________________________________________________________  */

body {
    margin: 0;
}

.horizontal_alignment {
    display: flex;
    flex-direction: row;
}

/* _______________________________________________________________  */
/* 1. index.html */
/* _______________________________________________________________  */

.main_body_area {
    width: 80vw;
    min-width: 1200px;
    height: 100%;
    background-color: #c0c0c0;
    margin: 10px;
}

.main_body_area .top_section {
    width: 79vw;
    min-width: 1190px;
    height: 70vh;
    background-color: #ffffff;
    margin: 10px;
}


.main_body_area .bottom_section {
    width: 79vw;
    min-width: 1190px;
    height: 100vh;
    background-color: #ffffff;
    margin: 10px;
}
