@charset "utf-8";
/*
________________________________________________________________
project : off_the_outfit website for last team sparta

Edited by gicheol. ( hanmari.code@gmail.com )
[ Last Edited 2022-12-11 ]
________________________________________________________________

= table of Css

1. /products/index.html

= color code

1. main color : 
2. based color :
3. light gray :
4. point color :

= font

1. 
2. 
3. 
4. 

*/

/* _______________________________________________________________  */
/* 0. Public use */
/* _______________________________________________________________  */

body {
    margin: 0;
}

.horizontal_alignment {
    display: flex;
    flex-direction: row;
}

.vertical_alignment {
    display: flex;
    flex-direction: column;
}

/* _______________________________________________________________  */
/* 1. index.html */
/* _______________________________________________________________  */

.main_body_area {
    width: 1280px;
    min-height: 1000px;
    border-left: solid 2px #c0c0c0;
}

.main_body_area .section_dividing_line {
    border-bottom: solid 2px #c0c0c0;
}

.main_body_area .top_section {
    width: 1260px;
    height: 600px;
    margin: 10px;
}

.top_section_menu {
    width: 1260px;
    margin: 20px 0 20px 20px;
}

.top_section_menu .ts_menu_title {
    width: 100px;
    font-size: 15pt;
    font-weight: bold;
}

/* _______________________________________________________________  */
/* 1. index.html  -- 전체 게시글 */
/* _______________________________________________________________  */

.main_body_area .bottom_section {
    width: 1260px;
    height: 100%;
    margin: 10px;
}

.bottom_section .product_list_box {
    width: 1260px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.product_list_box .product_box {
    width: 242px;
    height: 370px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.product_box .product_image_box {
    width: 242px;
    height: 280px;
    background-color: #000000;
}

.product_box .product_image_box img {
    width: 242px;
    height: 280px;
    object-fit: cover;
    cursor: pointer;
}

.product_box .info_top_section {
    width: 222px;
    height: 25px;
    justify-content: space-between;

    margin: 0 10px 0 10px;
}

.info_top_section .product_brand {
    font-size: 10pt;
    line-height: 25px;
    cursor: pointer;
}

.info_top_section .product_brand:hover {
    font-weight: bold;
}


.info_top_section .product_review {
    font-size: 10pt;
    margin-top: 5px;
    line-height: 20px;
}


.product_box .info_middle_section {
    width: 242px;
    height: 45px;
    background-color: #ffffff;
}

.info_middle_section .product_name {
    width: 222px;
    height: 25px;
    font-size: 10pt;
    margin: 0 10px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info_middle_section .product_price {
    width: 222px;
    height: 20px;
    font-size: 10pt;
    margin: 0 10px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.product_box .info_bottom_section {
    width: 222px;
    height: 20px;
    justify-content: space-between;

    color: #606060;
    margin: 0 10px 0 10px;
    line-height: 20px;
}

.info_bottom_section .product_category {
    font-size: 9pt;
    cursor: pointer;
}

.info_bottom_section .product_category:hover {
    font-weight: bold;
}

.info_bottom_section .product_number {
    font-size: 5pt;
}

.info_middle_section .closet_add_button {
    font-size: 10pt;
    margin-right: 10px;
    cursor: pointer;
}

.info_middle_section .closet_add_button:hover {
    font-weight: bold;
}
