@charset "utf-8";
/*
________________________________________________________________
project : off_the_outfit website for last team sparta

Edited by gicheol. ( hanmari.code@gmail.com )
[ Last Edited 2022-12-09 ]
________________________________________________________________

= Users table of Css

1. account_edit.html


= color code

1. main color : 
2. based color :
3. light gray :
4. point color :

= font

1. 
2. 
3. 
4. 

*/

/* _______________________________________________________________  */
/* 0. Public use */
/* _______________________________________________________________  */

body {
    margin: 0;
}

.horizontal_alignment {
    display: flex;
    flex-direction: row;
}

.vertical_alignment {
    display: flex;
    flex-direction: column;
}

/* _______________________________________________________________  */
/* 1. account_edit.html */
/* _______________________________________________________________  */

.main_body_area .top_section {
    background-color: #ffffff;
    width: 1000px;
    height: 800px;
    margin-top: 10px;
}

.top_section .basic_account_info {
    font-size: 14pt;
    font-weight: 600;
}

.top_section .info_line {
    border-bottom: solid 3px black;
    margin-top: 3px;
}

.top_section .edit_box_main {
    background-color: #ffffff;
    width: 1000px;
    height: 150px;
    border-bottom: solid 2px #c0c0c0;
}

.top_section .edit_box_sub {
    background-color: #ffffff;
    width: 1000px;
    height: 60px;
    border-bottom: solid 2px #c0c0c0;
}

.edit_box_main .edit_name {
    color: #c0c0c0;
    text-align: left;
    line-height: 150px;
    margin: 0 20px 0 20px;
    width: 80px;
}

.edit_box_sub .edit_name {
    color: #c0c0c0;
    text-align: left;
    line-height: 60px;
    margin: 0 20px 0 20px;
    width: 80px;
}

.edit_box_main .edit_view {
    text-align: left;
    line-height: 150px;
    width: 400px;
    margin-left: 20px;
    font-weight: bold;
}

.edit_box_main .edit_profile_image {
    text-align: left;
    line-height: 150px;
    width: 400px;
    margin-left: 20px;
    font-weight: bold;
}

.edit_box_main input {
    text-align: left;
    line-height: 150px;
    width: 400px;
    margin-left: 20px;
    font-weight: bold;
}

.edit_profile_image .edit_image_view {
    width: 110px;
    height: 110px;
    border-radius: 55px;
    margin: 20px 0 20px 0;
}

.edit_box_sub .edit_view {
    text-align: left;
    line-height: 60px;
    width: 400px;
    margin-left: 20px;
    font-weight: bold;
}

.edit_box_main .edit_button {
    color: #c0c0c0;
    text-align: center;
    line-height: 150px;
}

.edit_box_main .edit_button button {
    border-radius: 0px;
    border-style: none;
    padding: 5px 15px 5px 15px;
    background-color: #ffffff;
    border: solid 1px #c0c0c0;
}

.edit_box_main .edit_button button:hover {
    background-color: #000000;
    color: #ffffff;
}

.edit_box_sub .edit_button {
    color: #c0c0c0;
    text-align: center;
    line-height: 60px;
}

.edit_box_sub .edit_button button {
    border-radius: 0px;
    border-style: none;
    padding: 5px 15px 5px 15px;
    background-color: #ffffff;
    border: solid 1px #c0c0c0;
    position: absolute;
    margin-top: 15px;
}

.edit_box_sub .edit_button button:hover {
    background-color: #000000;
    color: #ffffff;
}

.edit_box_sub .edit_view_username {
    text-align: left;
    line-height: 60px;
    width: 400px;
    margin-left: 20px;
    font-weight: bold;
}

.edit_box_sub .edit_view_nickname {
    text-align: left;
    line-height: 60px;
    width: 400px;
    margin-left: 20px;
    font-weight: bold;
}

.edit_box_sub .edit_view_email {
    text-align: left;
    line-height: 60px;
    width: 400px;
    margin-left: 20px;
    font-weight: bold;
}

.edit_box_sub .edit_view_dob {
    text-align: left;
    line-height: 60px;
    width: 400px;
    margin-left: 20px;
    font-weight: bold;
}

.edit_box_sub .edit_view_body {
    text-align: left;
    line-height: 60px;
    width: 400px;
    margin-left: 20px;
    font-weight: bold;
}

.edit_box_sub .edit_view_gender {
    text-align: left;
    line-height: 60px;
    width: 400px;
    margin-left: 20px;
    font-weight: bold;
}

.edit_box_sub .edit_view_address {
    text-align: left;
    line-height: 60px;
    width: 400px;
    margin-left: 20px;
    font-weight: bold;
}

.edit_view_body .edit_view_body_line {
    margin: 0 5px 0 5px;
}

.edit_box_main input {
    border-style: none;
}

.edit_box_sub input {
    border-style: none;
    width: 380px;
    margin-left: 16px;
}

.edit_view_body input {
    border-style: none;
    width: 80px;
    margin-left: 20px;
}


/* 탈퇴 버튼 */

.edit_box_sub .edit_view_delete {
    text-align: left;
    line-height: 60px;
    width: 400px;
    margin-left: 20px;
    font-weight: bold;
}

.edit_box_main .edit_button_delete {
    color: #c0c0c0;
    text-align: center;
    line-height: 150px;
}

.edit_box_main .edit_button_delete button {
    border-radius: 0px;
    border-style: none;
    padding: 5px 15px 5px 15px;
    background-color: #ffffff;
    border: solid 1px #c0c0c0;
}

.edit_box_main .edit_button_delete button:hover {
    background-color: #000000;
    color: #ffffff;
}

.edit_box_sub .edit_button_delete {
    color: #c0c0c0;
    text-align: center;
    line-height: 60px;
}

.edit_box_sub .edit_button_delete button {
    border-radius: 0px;
    border-style: none;
    padding: 5px 15px 5px 15px;
    background-color: #ffffff;
    border: solid 1px #c0c0c0;
    position: absolute;
    margin-top: 15px;
}

.edit_box_sub .edit_button_delete button:hover {
    background-color:red;
    color: #ffffff;
}


/* _______________________________________________________________  */
/* 1. account_edit.html --- 소셜 유저 회원 정보 */
/* _______________________________________________________________  */

.social_body_area .social_section {
    background-color: #ffffff;
    width: 1000px;
    height: 800px;
    margin-top: 10px;
}

.social_section .social_account_info {
    font-size: 14pt;
    font-weight: 600;
}

.social_section .info_line {
    border-bottom: solid 3px black;
    margin-top: 3px;
}

.social_section .edit_box_main {
    background-color: #ffffff;
    width: 1000px;
    height: 150px;
    border-bottom: solid 2px #c0c0c0;
}

.social_section .edit_box_sub {
    background-color: #ffffff;
    width: 1000px;
    height: 60px;
    border-bottom: solid 2px #c0c0c0;
}

.edit_box_main .edit_name {
    color: #c0c0c0;
    text-align: left;
    line-height: 150px;
    margin: 0 20px 0 20px;
    width: 80px;
}

.edit_box_sub .edit_name {
    color: #c0c0c0;
    text-align: left;
    line-height: 60px;
    margin: 0 20px 0 20px;
    width: 80px;
}

.edit_box_main .edit_view {
    text-align: left;
    line-height: 150px;
    width: 400px;
    margin-left: 20px;
    font-weight: bold;
}

.edit_box_main .social_edit_profile_image {
    text-align: left;
    line-height: 150px;
    width: 400px;
    margin-left: 20px;
    font-weight: bold;
}

.edit_box_main input {
    text-align: left;
    line-height: 150px;
    width: 400px;
    margin-left: 20px;
    font-weight: bold;
}

.social_edit_profile_image .social_edit_image_view {
    width: 110px;
    height: 110px;
    border-radius: 55px;
    margin: 20px 0 20px 0;
    object-fit: cover;
}

.edit_box_sub .social_edit_view_nickname {
    text-align: left;
    line-height: 60px;
    width: 400px;
    margin-left: 20px;
    font-weight: bold;
}

.edit_box_sub .social_edit_view_email {
    text-align: left;
    line-height: 60px;
    width: 400px;
    margin-left: 20px;
    font-weight: bold;
}


/* 탈퇴 버튼 */

.edit_box_sub .social_edit_view_delete {
    text-align: left;
    line-height: 60px;
    width: 400px;
    margin-left: 20px;
    font-weight: bold;
}

.edit_box_sub .social_edit_button_delete {
    color: #c0c0c0;
    text-align: center;
    line-height: 60px;
}

.edit_box_sub .social_edit_button_delete button {
    border-radius: 0px;
    border-style: none;
    padding: 5px 15px 5px 15px;
    background-color: #ffffff;
    border: solid 1px #c0c0c0;
    position: absolute;
    margin-top: 15px;
}

.edit_box_sub .social_edit_button_delete button:hover {
    background-color:red;
    color: #ffffff;
}