@charset "utf-8";
/*
________________________________________________________________
project : off_the_outfit website for last team sparta

Edited by gicheol. ( hanmari.code@gmail.com )
[ Last Edited 2022-12-08 ]
________________________________________________________________

= Users table of Css

1. /users/header.html
2. /users/nav.html
3. /users/footer.html

= color code

1. main color : 
2. based color :
3. light gray :
4. point color :

= font

1. 
2. 
3. 
4. 

*/

/* _______________________________________________________________  */
/* 0. Public use */
/* _______________________________________________________________  */

body {
    margin: 0;
}

.horizontal_alignment {
    display: flex;
    flex-direction: row;
}

.vertical_alignment {
    display: flex;
    flex-direction: column;
}
.vertical_alignment .follow_value{
    display: flex;

}

/* _______________________________________________________________  */
/* 1. /users/header.html */
/* _______________________________________________________________  */


.main-wrapper {
    width: 100vw;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    min-width: 1300px;
    min-height: 70px;
}

.main-wrapper .main-title {
    font-size: 30pt;
    padding: 15px 0 0 30px;
    cursor: pointer;
}

.main-wrapper .main-title img {
    margin-top: 3px;
    height: 35px;
    min-height: 35px;
    cursor: pointer;
}

.main-wrapper .search-wrapper {
    padding: 20px 0 0 30px;
}

.main-wrapper .search-wrapper .search-box {
    width: 180px;
    height: 25px;
    border: solid 3px black;
    margin-right: 0;
}

.main-wrapper .search-wrapper .search-button {
    width: 45px;
    height: 33px;
    margin-left: 0;
    border: solid 3px black;
    background-color: black;
    position: absolute;
    cursor: pointer;
    color: #ffffff;
}

.main-wrapper .search-wrapper .search-button:hover {
    font-weight: bold;
}

.main-wrapper .search-word-ranking {
    font-size: 0.8em;
    margin: 30px 0 0 50px;
}

.header-profile_info {
    width: 100vw;
    height: 200px;
    background-color: black;
    min-width: 1650px;
}

.header-profile_info .info_left_area {
    width: 50vw;
    height: 200px;
    min-width: 640px;
}

.info_left_area .main_profile_image {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    margin: 20px 20px 20px 150px;
    object-fit: cover;
}

.info_left_area .right_main_profile_info_box {
    width: 400px;
    height: 120px;
    margin: 40px;
    min-width: 400px;
}

.right_main_profile_info_box .profile_nickname {
    font-size: 30pt;
    color: #ffffff;
    font-weight: bold;
}

.right_main_profile_info_box .profile_tier_info {
    font-size: 15pt;
    color: #ffffff;
    margin-top: 10px ;
}

.right_main_profile_info_box .profile_created_at {
    font-size: 10pt;
    color: #c0c0c0;
    margin: 15px 0 0 10px;

}
.right_main_profile_info_box .profile_next_tier_info {
    font-size: 10pt;
    color: #c0c0c0;
    margin-top: 5px;
}

.header-profile_info .info_right_area {
    width: 50vw;
    height: 200px;
    min-width: 400px;
}

.info_right_area .profile_summary_box {
    width: 30vw;
    height: 120px;
    min-width: 400px;
}

.profile_summary_box .summary_title {
    font-size: 15pt;
    color: #ffffff;
    margin: 40px 0 0 40px;
}

.profile_summary_box .summary_value {
    font-size: 12pt;
    color: #ffffff;
    margin: 5px 0 0 50px;
}

.header-member {
    width: 100vw;
    height: 40px;
    background-color: #ffffff;
}

.header-member .header-links {
    padding: 10px 0 0 0;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    color: #000000;
    cursor:pointer;
}

.header-member .header-link {
    font-size: 10pt;
    text-decoration: none;
    color: #000000;
}

.header-member .header-link-line {
    font-size: 10pt;
    margin: 0 10px 0 10px;
    color: #000000;
}


/* 검색어 랭킹 박스 */
.rolling_box{
    position: relative;
    width: 380px;
    height: 32px;
    font-size: 13pt;
    letter-spacing: -1px;
}

.rolling_box > .search-word-ranking{
    position: relative;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}        
.rolling_box ul{
    list-style: none;
}
.rolling_box li{
    position: absolute;
    top: -36px;
    left: 0;
}
/* 검색어 랭킹 롤링 부분 */
.rolling_box li.prev{
    top: 36px;
    transition: top 0.5s ease;
}
.rolling_box li.current{
    top: 0;
    transition: top 0.5s ease;
}
.rolling_box li.next{
    top: -36px;
}
.rolling_box a{
    display: block;
    display: -webkit-box;
    text-decoration: none;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
    overflow: hidden;
    color: #000;
}



/* _______________________________________________________________  */
/* 2. nav.html */
/* _______________________________________________________________  */

.left_area {
    background-color: #ffffff;
    width: 300px;
    padding: 10px;
    min-width: 300px;
    min-height: 1500px;
}

.left_area .mypage_main_title {
    font-size: 15pt;
    font-weight: bold;
    margin-left: 35px;
}

.left_area .mypage_list {
    list-style: none;
}

.left_area .mypage_list li {
    margin-top: 10px;
    font-size: 10pt;
    cursor: pointer;

}


/* _______________________________________________________________  */
/* 3. footer.html */
/* _______________________________________________________________  */

footer {
    background-color: #000000;
    width: 100vw;
    min-width: 1620px;
    height: 400px;
}

.footer_area .footer_box {
    width: 1000px;
    height: 180px;
    margin: 0 0 0 50px;
    padding: 10px;
    color: #ffffff;
}

.footer_box .icon_box {
    margin-bottom: 20px;
}

.footer_box .icon_box img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: solid 2px #ffffff;
    margin: 20px 0 0 20px;
    cursor: pointer;
}