/* _______________________________________________________________  */
/* 1. follow.html */
/* _______________________________________________________________  */

.main_body_area .top_section {
    background-color: #ffffff;
    width: 1000px;
    margin-top: 10px;
}

.top_section .basic_follow_info {
    font-size: 14pt;
    font-weight: 600;
}

.top_section .info_line {
    border-bottom: solid 3px black;
    margin-top: 3px;
}



/* _______________________________________________________________  */
/* 1. index.html  -- 전체 게시글 */
/* _______________________________________________________________  */

.main_body_area .bottom_section {
    width: 1260px;
    height: 100%;
    margin: 10px;
}

.bottom_section .like_feed_box {
    width: 1260px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.like_feed_box .sub_feed_box {
    width: 242px;
    height: 370px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.sub_feed_box .sub_feed_image_box {
    width: 242px;
    height: 280px;
    background-color: #000000;
}

.sub_feed_box .sub_feed_image_box img {
    width: 242px;
    height: 280px;
    object-fit: cover;
}

.sub_feed_box .info_top_section {
    width: 222px;
    height: 25px;
    justify-content: space-between;

    margin: 0 10px 0 10px;
}

.info_top_section .sub_nickname {
    font-size: 10pt;
    line-height: 25px;
    cursor: pointer;
}

.info_top_section .sub_nickname:hover {
    font-weight: bold;
}

.info_top_section .sub_like {
    width: 60px;
    height: 20px;
    text-align: center;
    line-height: 25px;
    margin: 0 0 5px 15px;
    font-size: 9pt;
}


.sub_feed_box .info_middle_section {
    width: 242px;
    height: 45px;
    background-color: #ffffff;
}

.info_middle_section .sub_content {
    width: 222px;
    height: 45px;
    font-size: 10pt;
    margin: 0 10px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.sub_feed_box .info_bottom_section {
    width: 222px;
    height: 20px;
    justify-content: space-between;

    color: #606060;
    margin: 0 10px 0 10px;
    line-height: 20px;
}

.info_bottom_section .sub_tags {
    font-size: 9pt;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info_bottom_section .sub_created_at {
    font-size: 5pt;
}
