@charset "utf-8";
/*
________________________________________________________________
project : off_the_outfit website for last team sparta

Edited by gicheol. ( hanmari.code@gmail.com )
[ Last Edited 2022-12-09 ]
________________________________________________________________

= table of Css

1. /communities/detail.html

= color code

1. main color : 
2. based color :
3. light gray :
4. point color :

= font

1. 
2. 
3. 
4. 

*/

/* _______________________________________________________________  */
/* 0. Public use */
/* _______________________________________________________________  */

body {
    margin: 0;
}

.horizontal_alignment {
    display: flex;
    flex-direction: row;
}

.vertical_alignment {
    display: flex;
    flex-direction: column;
}

/* _______________________________________________________________  */
/* 1. detail.html */
/* _______________________________________________________________  */

.main_body_area {
    width: 1220px;
    height: 840px;
    margin: 10px;
    border-bottom: solid 2px #c0c0c0;
}

.main_body_area .top_section {
    width: 1200px;
    height: 800px;
    background-color: #ffffff;
    margin: 10px;
}

.top_section .info_bar {
    width: 1200px;
    height: 40px;
    justify-content: space-between;
    border-bottom: solid 2px #c0c0c0;
}

.top_section .detail_area {
    background-color: #ffffff;
    width: 1200px;
    height: 740px;
}

.detail_area .ua_left_section {
    background-color: #ffffff;
    width: 740px;
    height: 740px;
}

.ua_left_section .feed_image {
    width: 740px;
    height: 740px;
    border-style: none;
    object-fit: cover;
    background-color: black;
}


.detail_area .ua_right_section {
    width: 460px;
    height: 740px;
}

.ua_right_section .feed_info_box {
    width: 460px;
    height: 740px;

}

.feed_info_box .info_top_section {
    width: 460px;
    height: 220px;
    border-bottom: solid 2px #c0c0c0;
}

.info_top_section .user_profile_info {
    width: 460px;
    height: 40px;
    margin: 10px 0 0 10px;
}

.user_profile_info .profile_image {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 5px;
}

.user_profile_info .nickname {
    font-size: 18pt;
    color: #606060;
    margin-top: 5px;
}

.info_top_section .feed_content {
    background-color: #ffffff;
    width: 440px;
    height: 80px;
    padding: 5px;
    margin: 10px 0 0 10px;
}

.info_top_section .like_info {
    background-color: #ffffff;
    width: 370px;
    height: 20px;
    padding: 5px;
    margin: 0 0 0 10px;
}


.info_top_section .feed_tags {
    background-color: #ffffff;
    width: 440px;
    height: 30px;
    padding: 5px;
    margin-left: 5px;
}
.feed_tags .tag {
    color: #606060;
    margin-left: 5px;
    cursor: pointer;
    text-decoration: none;
}


.info_top_section .feed_create_at {
    width: 80px;
    background-color: #ffffff;
    height: 20px;
    line-height: 20px;
    color: #606060;
    text-align: right;
    margin: 5px;
    font-size: 10pt;
}

.feed_info_box .comment_middle_section {
    width: 460px;
    height: 500px;
    border-bottom: solid 2px #c0c0c0;

    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;

}

.comment_middle_section .comment_box {
    width: 440px;
    justify-content: space-between;
}

.comment_box .cmt_user {
    margin: 10px;
}

.cmt_user .cmt_nickname {
    font-weight: bold;
}

.cmt_user .cmt_comment {
    margin-left: 10px;
}

.comment_box .cmt_button_box {
    margin: 10px;
}

.cmt_button_box .cmt_reco_button {
    width: 40px;
    text-align: center;
    font-size: 10pt;
    color: #606060;
    border: solid 0.5px #606060;
    line-height: 20px;
    cursor: pointer;
}

.cmt_button_box .cmt_reco_button:hover {
    background-color: #000000;
    color: #ffffff;
}
.cmt_button_box .cmt_like_button {
    margin-left: 10px;
}

.cmt_button_box .cmt_delete_button {
    margin-left: 10px;
    color: red;
    font-weight: bold;
}

.cmt_like_button .comment_heart_view {
    width: 15px;
    height: 15px;
    object-fit: cover;
    cursor: pointer;
}

.comment_middle_section .recomment_box {
    width: 410px;
    justify-content: space-between;
    margin: 5px 10px 10px 20px;
}


.recomment_box .reco_nickname {
    color: #606060;
}

.recomment_box .reco_recomment {
    color: #c0c0c0;
    margin-left: 10px;
}

.recomment_box .reco_delete_button {
    color: red;
    font-weight: bold;
}

.recomment_input_box {
    width: 460px;
    height: 45px;
}

.recomment_input_box .reco_input {
    width: 300px;
    height: 32px;
    margin-left: 20px;
    resize: none;
    border: solid 1px #c0c0c0;
    padding: 5px;
}

.recomment_input_box .recomment_create_button {
    background-color: antiquewhite;
    width: 70px;
    height: 44px;
    font-size: 9pt;
    border-radius: 0px;
    border-style: none;
    padding: 5px 5px 5px 5px;
    background-color: #ffffff;
    border: solid 1px #c0c0c0;
    
}

.recomment_input_box .recomment_create_button:hover {
    background-color: #000000;
    color: #ffffff;
}




.feed_info_box .comment_bottom_section {
    width: 460px;
    height: 50px;
}

.comment_bottom_section .comment_input_box {
    width: 390px;
    resize: none;
    border: solid 1px #c0c0c0;
    padding: 5px;
}


.comment_bottom_section .comment_create_button {
    width: 70px;
    border-radius: 0px;
    border-style: none;
    padding: 5px 5px 5px 5px;
    background-color: #ffffff;
    border: solid 1px #c0c0c0;
}

.comment_bottom_section .comment_create_button:hover {
    background-color: #000000;
    color: #ffffff;
}



.info_top_section .like_box {
    height: 30px;
    justify-content: right;
}

.like_box .feed_like {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: #ffffff;
    background-color: #c0c0c0;
    text-align: center;
    line-height: 30px;
    margin: 5px;
    font-size: 10pt;
}

.like_box .like_button img {
    width: 20px;
    height: 20px;
    margin: 10px;
    object-fit: cover;
    cursor: pointer;
}

.like_box .unlike_button img {
    width: 20px;
    height: 20px;
    margin: 10px;
    object-fit: cover;
    cursor: pointer;
}


.info_bar .etc_button {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 15pt;
    font-weight: bold;
    cursor: pointer;
}


.etc_dropbox{
    position : relative;
    display : inline-block;
}

.etc_button{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 15pt;
    font-weight: bold;
    cursor: pointer;
}
.etc_list{
    display : none;
    position : absolute;
    z-index : 1;
    font-weight: bold;
    background-color: #ffffff;
    min-width : 100px;
    right: 0;
}

.etc_list a {
    display : block;
    text-decoration : none;
    font-size: 12px;
    padding : 12px 20px;
    border-bottom: solid 1px #c0c0c0;
}

.etc_list a:hover {
    background-color : #000000;
    color: #ffffff;
}

.etc_dropbox:hover .etc_list {
    display: block;
}

#detail_follow {
    font-size: 10pt;
    width: 60px;
    height: 25px;
    margin: 5px 0 0 5px;
    border: solid 1px #c0c0c0;
    background-color: #ffffff;
}

#detail_follow:hover {
    background-color: #000000;
    color: #ffffff;
}

#detail_following {
    font-size: 10pt;
    width: 60px;
    height: 25px;
    margin: 5px 0 0 5px;
    border: solid 1px #000000;
    background-color: #c0c0c0;

}


#detail_following:hover {
    background-color: #000000;
    color: #ffffff;
}

.reportBox {
    background-color: #ffffff;
    position: absolute;
    margin: 200px 0 0 300px;
    width: 400px;
    height: 200px;
    border: solid 2px #c0c0c0;
}

.reportBox .report_input {
    width: 360px;
    height: 140px;
    resize: none;
    border: none;
    padding: 20px;
}

.reportBox .reportButtonBox {
    text-align: right;
}
.reportButtonBox .report_button {
    border: solid 1px #c0c0c0;
    background-color: #ffffff;
}

.reportButtonBox .report_button:hover {
    background-color: #000000;
    color: #ffffff;
}
