@charset "utf-8";
/*
________________________________________________________________
project : off_the_outfit website for last team sparta

Edited by gicheol. ( hanmari.code@gmail.com )
[ Last Edited 2022-12-08 ]
________________________________________________________________

= table of Css

1. upload.html

= color code

1. main color : 
2. based color :
3. light gray :
4. point color :

= font

1. 
2. 
3. 
4. 

*/

/* _______________________________________________________________  */
/* 0. Public use */
/* _______________________________________________________________  */

body {
    margin: 0;
}

.horizontal_alignment {
    display: flex;
    flex-direction: row;
}

.vertical_alignment {
    display: flex;
    flex-direction: column;
}

/* _______________________________________________________________  */
/* 1. upload.html */
/* _______________________________________________________________  */

.main_body_area {
    width: 1220px;
    height: 840px;
    margin: 10px;
    border-bottom: solid 2px #c0c0c0;
}

.main_body_area .top_section {
    width: 1200px;
    height: 800px;
    background-color: #ffffff;
    margin: 10px;
}

.top_section .info_bar {
    background-color: #ffffff;
    width: 1200px;
    height: 60px;
}

.top_section .upload_area {
    background-color: #ffffff;
    width: 1200px;
    height: 740px;
}

.upload_area .ua_left_section {
    background-color: #ffffff;
    width: 740px;
    height: 740px;
}

.ua_left_section .PreviewImg {
    width: 740px;
    height: 740px;
    border-style: none;
}


.upload_area .ua_right_section {
    width: 460px;
    height: 740px;
}

.ua_right_section .feed_input_box {
    width: 460px;
    height: 740px;

}

.feed_input_box .input_top_section {
    width: 460px;
    height: 220px;
    border-bottom: solid 2px #c0c0c0;
}

.input_top_section .user_profile_info {

    width: 460px;
    height: 40px;
}

.user_profile_info .profile_image {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 5px;
}

.user_profile_info .nickname {
    font-size: 18pt;
    color: #606060;
    margin-top: 5px;
}

.input_top_section .user_content {
    background-color: #ffffff;
    width: 450px;
    height: 130px;
    padding: 5px;
}

.input_top_section .input_top_info {
    background-color: #ffffff;
    width: 460px;
    height: 40px;
}

.feed_input_box .input_middle_section {
    width: 460px;
    height: 500px;
    border-bottom: solid 2px #c0c0c0;
}

.input_middle_section .image_upload_button {
    margin: 5px;
}

.input_middle_section .feed_content {
    height: 300px;
    padding: 5px;
    border-style: none;
    resize: none;
    border-top: solid 2px #c0c0c0;
    border-bottom: solid 2px #c0c0c0;
}

.input_middle_section .feed_tags {
    height: 105px;
    padding: 5px;
    border-style: none;
    resize: none;
}


.feed_input_box .input_bottom_section {

    width: 460px;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.input_bottom_section .feed_create_button {
    width: 460px;
    height: 55px;
    border-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input_bottom_section .feed_create_button:hover {
    width: 460px;
    height: 55px;
    background-color: black;
    color: #ffffff;

}


