@charset "utf-8";
/*
________________________________________________________________
project : off_the_outfit website for last team sparta

Edited by gicheol. ( hanmari.code@gmail.com )
[ Last Edited 2022-12-08 ]
________________________________________________________________

= table of Css

1. upload.html

= color code

1. main color : 
2. based color :
3. light gray :
4. point color :

= font

1. 
2. 
3. 
4. 

*/

/* _______________________________________________________________  */
/* 0. Public use */
/* _______________________________________________________________  */

body {
    margin: 0;
}

.horizontal_alignment {
    display: flex;
    flex-direction: row;
}

.vertical_alignment {
    display: flex;
    flex-direction: column;
}

/* _______________________________________________________________  */
/* 1. upload.html */
/* _______________________________________________________________  */

.main_body_area {
    width: 1220px;
    height: 840px;
    margin: 10px;
    border-bottom: solid 2px #c0c0c0;
}

.main_body_area .top_section {
    width: 1200px;
    height: 800px;
    background-color: #ffffff;
    margin: 10px;
}

.top_section .info_bar {
    background-color: #ffffff;
    width: 1200px;
    height: 60px;
}

.top_section .upload_area {
    background-color: #ffffff;
    width: 1200px;
    height: 740px;
}

.upload_area .ua_left_section {
    background-color: #ffffff;
    width: 740px;
    height: 740px;
}

.ua_left_section .PreviewImg {
    width: 740px;
    height: 740px;
    border-style: none;
    object-fit: cover;
}


.upload_area .ua_right_section {
    width: 460px;
    height: 740px;
}

.ua_right_section .feed_input_box {
    width: 460px;
    height: 740px;

}

.feed_input_box .input_top_section {
    width: 460px;
    height: 220px;
    border-bottom: solid 2px #c0c0c0;
}

.input_top_section .user_profile_info {

    width: 460px;
    height: 40px;
}

.user_profile_info .profile_image {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 5px;
}

.user_profile_info .nickname {
    font-size: 18pt;
    color: #606060;
    margin-top: 5px;
}

.input_top_section .user_content {
    background-color: #ffffff;
    width: 450px;
    height: 130px;
    padding: 5px;
}

.input_top_section .input_top_info {
    background-color: #ffffff;
    width: 460px;
    height: 40px;
}

.feed_input_box .input_middle_section {
    width: 460px;
    height: 500px;
    border-bottom: solid 2px #c0c0c0;
}

.input_middle_section .image_upload_button {
    margin: 5px;
}

.input_middle_section .prod_select_input {
    margin: 5px;
}

.input_middle_section .feed_content {
    height: 265px;
    padding: 5px;
    border-style: none;
    resize: none;
    border-top: solid 2px #c0c0c0;
    border-bottom: solid 2px #c0c0c0;
}

.input_middle_section .feed_tags {
    height: 105px;
    padding: 5px;
    border-style: none;
    resize: none;
}


.feed_input_box .input_bottom_section {

    width: 460px;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.input_bottom_section .feed_create_button {
    width: 460px;
    height: 55px;
    border-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input_bottom_section .feed_create_button:hover {
    width: 460px;
    height: 55px;
    background-color: black;
    color: #ffffff;

}


/* 상품 검색 박스 */
.ua_left_section .search_prod_box {
    width: 700px;
    height: 715px;
    background-color: #f0f0f0;
    border: solid 1px #c0c0c0;
    padding: 10px;
    position:absolute;
}

.search_prod_box .search_section {
    width: 700px;
    height: 80px;
}

.search_section .section_title {
    font-size: 15pt;
    font-weight: bold;
    margin: 5px 0 0 5px;
}

.search_section .section_input {
    height: 40px;
    margin-top: 10px;
}

.section_input .prod_search_input {
    width: 300px;
    height: 35px;
    border: solid 1px #c0c0c0;
}

.section_input .prod_search_input::placeholder {
    padding-left: 10px;
}

.section_input .prod_search_button {
    width: 80px;
    height: 39px;
    border: solid 1px #c0c0c0;
    position: absolute;
}

.section_input .prod_search_button:hover {
    background-color: black;
    color: #ffffff;
}

.search_prod_box .result_section {
    width: 698px;
    height: 620px;
    background-color: #ffffff;
    border: solid 1px #c0c0c0;
    margin-top: 10px;

    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
}

.result_section .result_box {
    width: 698px;
    height: 200px;
    border-bottom: solid 1px #c0c0c0;
}

.result_box .left_image_section {
    width: 150px;
    height: 180px;
    margin: 10px 10px 10px 20px;
}

.result_box .left_image_section img {
    width: 150px;
    height: 180px;
    object-fit: cover;
}

.result_box .center_info_section {
    margin-left: 20px;
}

.center_info_section .info_title_box {
    width: 200px;
    height: 40px;
    margin: 10px 0 10px 0;
}

.info_title_box .section_title_en {
    font-size: 15pt;
    font-weight: bold;
    margin-left: 20px;
    line-height: 40px;
}

.info_title_box .section_title_kr {
    font-size: 7pt;
    font-weight: 400;
    margin-left: 5px;
    line-height: 40px;
    color: #606060;
}

.center_info_section .prod_detail_info_box {
    width: 200px;
    height: 30px;
    line-height: 30px;
    margin: 0 0 0 20px;
}

.prod_detail_info_box .prod_info_title {
    width: 80px;
    font-size: 10pt;
}

.prod_detail_info_box .prod_info_desc {
    font-size: 10pt;
    font-weight: 600;
    margin-left: 15px;
    color: #000000;
}

.result_box .right_button_section {
    width: 280px;
    height: 200px;
    margin-left: 20px;
}

.right_button_section .result_buttons {
    width: 100px;
    height: 30px;
    margin: 30px 0 0 130px;
    border: solid 1px #c0c0c0;
}

.right_button_section .result_buttons:hover {
    background-color: #000000;
    color: #ffffff;
}